<!--Author - Padmesh Donthu-->
<div style="background-color: #e7ebee; min-height: 100%;">
  <app-header></app-header>
  <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
    <h2 class="center-align">GRE Verbal Practice</h2>
    <div class="row">
      <div class="center-align">
        Use the GREPrep Verbal Practice to help you prepare for the
        computer-delivered GRE General Test. The Verbal Practice Quizzes are
        designed to help you:
        <ul class="collection">
          <li class="collection-item">
            Understand what's being tested Gain familiarity with the various
            question types and difficulty level of Verbal type of questions
          </li>
          <li class="collection-item">
            Practice your test-taking strategies by understanding the topics
            thoroughly
          </li>
          <li class="collection-item">
            Use the concepts you have prepared in verbal question types
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="center-align">
        <h5>Instructions</h5>
        <ul class="collection">
          <li class="collection-item">
            The Quiz is untimed i.e. you will have unlimited time to complete
            it. You can choose the number of questions to attempt before taking
            the quiz.
          </li>
          <li class="collection-item">
            The questions consist of Verbal types.
          </li>
          <li class="collection-item">
            The questions can either be multiple choice or single choice types
          </li>
          <li class="collection-item">
            Once you submit your test, you can get your quiz score. Each
            question will be of 1 mark.
          </li>
          <li class="collection-item">
            You can use buttons like First, Previous, Next, and Last to move to
            questions
          </li>
          <li class="collection-item">
            Select the type of verbal questions you want to attempt
          </li>
          <li class="collection-item">
            Select the number of questions you want to attempt
          </li>
          <li class="collection-item">
            Click on Start Your Quiz button below to start your Quiz.
          </li>
          <li class="collection-item">
            Once you click on the button, the test starts immediately.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="center-align">
        <mat-radio-group>
          <mat-radio-button
            value="VTCQ"
            class="radioBtn"
            (change)="setQuestionType('VTCQ')"
            >Text Completion
          </mat-radio-button>
          <mat-radio-button
            value="VSEQ"
            class="radioBtn"
            (change)="setQuestionType('VSEQ')"
            >Sentence Equivalence
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="center-align">
        <mat-radio-group>
          <mat-radio-button
            value="10"
            class="radioBtn"
            (change)="setNumberOfQuestions(10)"
            >10
          </mat-radio-button>
          <mat-radio-button
            value="20"
            class="radioBtn"
            (change)="setNumberOfQuestions(20)"
            >20
          </mat-radio-button>
          <mat-radio-button
            value="30"
            class="radioBtn"
            (change)="setNumberOfQuestions(30)"
            >30
          </mat-radio-button>
          <mat-radio-button
            value="40"
            class="radioBtn"
            (change)="setNumberOfQuestions(40)"
            >40
          </mat-radio-button>
          <mat-radio-button
            value="50"
            class="radioBtn"
            (change)="setNumberOfQuestions(50)"
            >50
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="center-align">
        <button
          class="btn waves-effect waves-light indigo darken-3"
          (click)="next()"
        >
          Start your Quiz
        </button>
      </div>
    </div>
  </div>
</div>
