<!--Author - Padmesh Donthu-->
<div style="background-color: #e7ebee; min-height: 100%;">
  <app-header></app-header>
  <div class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div
    class="container"
    style="padding-top: 20px; padding-bottom: 20px;"
    *ngIf="!loading"
  >
    <h4>Your {{ getTestType() }} answers are:</h4>
    <i
      class="medium material-icons icon-bottom"
      (click)="moveDown()"
      matTooltip="Go to bottom"
      >arrow_drop_down</i
    >
    <i
      class="medium material-icons icon-top"
      (click)="moveUp()"
      matTooltip="Go to top"
      >arrow_drop_up</i
    >
    <div class="row">
      <div class="col s12">
        <div *ngFor="let answer of userAnswer.questionAnswers; let a = index">
          <div class="row">
            <div
              class="col s3"
              style="
                background-color: #283593 !important;
                padding: 10px;
                color: white;
                font-size: medium;
              "
            >
              Question {{ a + 1 }} of {{ userAnswer.questionAnswers.length }}
            </div>
            <div class="col s3" style="float: right; margin-top: 10px;">
              <i
                class="medium material-icons icon-green"
                *ngIf="checkIfUserAnsweredCorrectly(answer)"
                >check</i
              >
              <i
                class="medium material-icons icon-red"
                *ngIf="!checkIfUserAnsweredCorrectly(answer)"
                >close</i
              >
            </div>
          </div>
          <div>{{ answer.questionTitle }}</div>
          <br />
          <div class="row">
            <div class="col s12">
              <div *ngIf="answer.actualAnswers.length == 1">
                <mat-radio-group>
                  <mat-radio-button
                    *ngFor="let option of answer.options; let i = index"
                    [value]="i"
                    class="col s12"
                    [checked]="getStatus(i, answer)"
                    disabled="true"
                  >
                    {{ option }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div *ngIf="answer.actualAnswers.length != 1">
                <div *ngFor="let option of answer.options; let j = index">
                  <mat-checkbox
                    style="margin-top: 12px;"
                    class="col s12"
                    color="accent"
                    [checked]="getStatus(j, answer)"
                    disabled="true"
                  >
                    {{ option }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="center-align">
              Correct Answer: {{ getCorrectAnswer(answer) }}
            </div>
          </div>
          <hr />
          <br />
        </div>
        <div class="row">
          <div class="center-align">
            <button
              class="btn waves-effect waves-light red darken-3"
              (click)="goToAttemptHistory()"
            >
              Back to Attempt History
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
