/*Author - Padmesh Donthu*/
.heading {
  text-align: center;
  font-size: xx-large;
  padding-top: 2%;
}
.content {
  text-align: center;
  padding-top: 2%;
  text-align: justify;
  padding-right: 10%;
  padding-left: 10%;
}
