<!--Author - Padmesh Donthu-->
<div style="overflow: auto; min-height: 100%; background-color: #e7ebee;">
  <app-header></app-header>
  <div class="heading">Why Masters?</div>
  <div class="content">
    There are various reasons that students choose to pursue a masters degree.
    Every student has thier own reasons, however here we will provide the most
    commons reasons that will boost the motivation level of the students to
    pursue masters in thier corresponding fields. <br />
    <b>FINANCIAL GAIN</b>: A student having bachelors degree and a student
    having bachelors plus a masters degree have significant differences in their
    payscale. Statistically speaking having a masters degree shows an average
    25% increase in the payscale of the students. So if a student applies for a
    job in a given company, then they will get almost 25% more salary if they
    have a masters degree as compared to a student who has only bachelors
    degree. So why not put little effort, grab this opportunity and get those
    extra bucks to ameliorate the quality of life. <br />
    <b>CAREER ADVANCEMENT</b>: If a student has a masters degree in thier cv, it
    makes a lot of difference in various ways. The way in which the employer
    shortlists the candidates for a particular role, having masters adds an
    extra advantage. Most students especially those who already have decent CVs
    – do a masters to progress to the next stage in their career. This might
    mean an MS in a field of interest, or even something totally unrelated if
    the student is looking to change direction completely; either way, a masters
    can be used as a very valuable stepping stone. Employers recognise the value
    of a masters degree – some even make it a prerequisite, while in industries
    such as healthcare and education, they are mandatory. But even in general
    terms, a masters can set a student apart from the crowd.<br />
    <b>SPECIALIST KNOWLEDGE</b>: As the name suggests, masters means the student
    will gain in depth knowledge of that particular stream. For instance a
    student who has done masters in computer science will be an expert of
    computer science. Doing masters will involve lot of hard work and learning
    some very new concepts that a bachelors student will never know, and that
    knowledge will provide a great advantage for the student to excel in getting
    placements in some of the top employers of the world in thier field of
    interest. <br />
    <b>PERSONAL DEVELOPMENT</b>: A masters degree is not just about academic
    achievement; it should also encourage personal development. A student learns
    to manage time by doing assignments, presentations etc. A discipline is
    required to achieve good grades if a student is pursuing masters from a
    reputed university. There are many qualities that a student inculcates while
    doing masters like patience, accuracy, discipline, academic integrity and
    many more. By their definition, postgraduate courses are very autonomous,
    with much of the emphasis on the individual themselves to put things in
    motion, and this helps in overall personality development of the individual.
    <br />
  </div>
</div>
